<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "xonmp.forex_pip_calculator"
        version     = "2.1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Forex pip calculator</name>

    <description>
        Forex pip calculator. To calculate how much pips you made on a currency pair.
        Really usefull for trading.
        Calculate all kind of pairs.
        EURUSD, GBPUSD, AUDUSD, AUDNZD, EURGBP etc.
    </description>

    <author href="https://blog.fxraid.com" email="romanornr@gmail.com">
        Blog.FxRaid.com
    </author>
    
    <preference name="permissions"                value="none"/>
    <preference name='phonegap-version' value='cli-5.1.1' />
     <icon src="logo/pip.png" />
     <icon src="logo/pip.png" gap:role="default" />
<icon src="logo/pip-ldpi.png" gap:platform="android" gap:density="ldpi" />
<icon src="logo/pip-mdpi.png" gap:platform="android" gap:density="mdpi" />
<icon src="logo/pip-hdpi.png" gap:platform="android" gap:density="hdpi" />
    
    <gap:splash src="res/drawable-mdpi/background.9.png"       gap:platform="android" gap:qualifier="port-mdpi" />
    <gap:splash src="res/drawable-hdpi/background.9.png"       gap:platform="android" gap:qualifier="port-hdpi" />
    <gap:splash src="drawable-xhdpi/background.9.png"      gap:platform="android" gap:qualifier="port-xhdpi"/>
    
    <gap:platforms>
    <gap:platform name="android" />
<gap:platform name="webos" />
</gap:platforms>

</widget>
