<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Forex pip calculator</name>

    <description>
        Forex pip calculator. To calculate how much pips you made on a currency pair.
        Really usefull for trading.
        Calculate all kind of pairs.
        EURUSD, GBPUSD, AUDUSD, AUDNZD, EURGBP etc.
    </description>

    <author href="https://blog.fxraid.com" email="romanornr@gmail.com">
        Blog.FxRaid.com
    </author>
    
    <preference name="permissions"                value="none"/>
     <icon src="icon.png" />
    
    <gap:platforms>
    <gap:platform name="android" />
<gap:platform name="webos" />
</gap:platforms>

</widget>
