<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title>Forex Pip Calculator app</title>
  <link href="css/ionic.css" rel="stylesheet">
  <link href="css/container.css" rel="stylesheet">
  
</head>
<body ng-app="forex">


<div class="bar bar-header bar-calm">
  <h1 class="title">Forex pip calculator</h1>
</div>
</nav>
<div class="container">
<!--
<div class="jumbotron">  -->

<!-- </div> -->

<br></br>
<br>
<h4>Not for JPY pairs</h4>
<br>

<div ng-controller="Ctrl">

<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Entry (1.3010)</span>
<input type="text" min = "0" name="entry" ng-model="entry"><p></p>
</label>


  <label class="item item-input item-stacked-label">
    <span class="input-label">Exit  (1.290)</span>
<input type="text" min = "0" name="exit" ng-model="exit">
  </label>
  </div>

<div style="margin: 10px; width:500px">
<button class="button button-balanced" input type="button" class="btn" name="Long" ng-click="calculatePipsLong()">Long<br></button>
<button class="button button-assertive" class="btn" name="Short" ng-click="calculatePipsShort()">Short<br></button>
<br></br>
<div-ngstyle="{color:'red' < 0}">
<h5>Amount of pips: {{outputLong}} {{OutputShort}}</p><br>
<p>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Lotsize</span>

    <input type="text" min="0" name="lotsize" ng-model="lotsize"><p></p>
      </label>
  </div>
<td>1 pip is worth: {{(1 / entry) * lotsize | currency}}</td><br>
Total amount of pips worth:<td> {{outputLong * ((1 / entry) * lotsize) | currency}}</td><br> </br>

Required equity 500x leverage:<td> {{(entry * lotsize * 100000) / 500 | currency}}</td> <br>
Required equity 200x leverage:<td> {{(entry * lotsize * 100000) / 200 | currency}}</td> <br>
Required equity 100x leverage:<td> {{(entry * lotsize * 100000) / 100 | currency}}</td> <br>
Required equity 50x leverage:<td> {{(entry * lotsize * 100000) / 50 | currency }}</td> <br></h5>

</p>
</div>
<br></br>


 </div>


<!--
<script src="JS/angular.min.js"></script>
-->
<script src="JS/ionic.bundle.min.js"></script>
<script src="controllers/MainController.js"></script>



</body>
</html>
