<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forex Pip Calculator app</title>
  
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="controllers/MainController.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/cyborg/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

</head>
<body ng-app="forex">

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Forex</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="index.php">Home</a></li>
          <li><a href="http://blog.fxraid.com">Blog</a></li>
        <li><a href="pip.php">Pip calculator</a></li>
        <li><a href="checklist.php">Checklist</a></li>
        <li><a href="headmap.php">Heatmap</a></li>
        
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
    
      </ul>
    </div>
  </div>
</nav>
<div class="container">
<!--
<div class="jumbotron">  -->

<!-- </div> -->

<H1>Pip calculator.</H1>
<h4>Not for JPY pairs</h4>
<br>
<div ng-controller="Ctrl">
<form>
Entry: <input type="number" min = "0" name="entry" ng-model="entry">1.3010<p></p>
Exit:  <input type="number" min = "0" name="exit" ng-model="exit">1.3000<p></p>
</form>  

<button input type="button" class="btn" name="Long" ng-click="calculatePipsLong()">Long<br></button>
<button input type="button" class="btn" name="Short" ng-click="calculatePipsShort()">Short<br></button>
<br></br>
<p>Amount of pips: {{outputLong}} {{OutputShort}}</p><br>
<p>
Lotsize: <input type="number" min="0" name="lotsize" ng-model="lotsize"><p></p>

<td>1 pip is worth: {{(1 / entry) * lotsize | currency}}</td><br>
Total amount of pips worth:<td> {{outputLong * ((1 / entry) * lotsize) | currency}}</td>
</p>
</div>
<br></br>


 </div>



</body>
</html>
